<div class="contenedor flex justify-center grid grid-cols-2 min-h-screen ">
    <div class="relative flex justify-center items-center px-4">
        <img class="" src="../../assets/loginImg.svg">
        <p class="p-20 absolute bottom-0 text-end font-textShow text-4xl font-bold text-[#636aff] uppercase">
            ¡Conectate con gente alrededor del mundo!</p>
    </div>
    <div class="bg-[#fff] flex justify-center border-l-2 items-center">
        <div class="w-96">
            @if (loginShow === true) {
                <login (emitterLog)="hide($event)"></login>
            }@else {
                <registrar (emitterReg)="hide($event)"></registrar>
            }
        </div>
    </div>
</div>