<div
    class="h-screen 2xl:h-auto overflow-hidden 2xl:max-w-screen-xl 2xl:max-h-screen-xl 2xl:flex 2xl:justify-center 2xl:flex-col 2xl:mx-auto bg-[#130821] text-[#fff] text-lg font-text">
    <div class="grid grid-cols-[max-content_1fr] grid-flow-col w-full h-full">
        <div class="col-span-2 w-full h-full">
            @if (navigationVar === "search") {
            <search [friends]="friends"></search>
            }@else if(navigationVar === "chat") {
            @if (chatReady === true) {
            <chat [friend]="sendFriend"></chat>
            }@else{
            <chat [friend]="sendFriend"></chat>
            }
            }
            @else if(navigationVar === "profile") {
            <perfil [friends]="friends"></perfil>
            }@else{
            <div class="relative w-full h-full">
                <div class="absolute bottom-40 -left-20 sm:right-96">
                    <div class="absolute rounded-full bg-[#301c3c] p-28"></div>
                </div>
                <div class="absolute bottom-72 right-28 sm:right-96">
                    <div class="absolute rounded-full bg-[#301c3c] p-10"></div>
                </div>
                <div class="absolute top-10 sm:left-96">
                    <div class="absolute rounded-full bg-[#301c3c] p-20"></div>
                </div>
                <div class="flex justify-center items-center h-full">
                    <p class="text-xl px-4 text-center sm:text-2xl md:text-4xl uppercase font-bold font-textShow">
                        Recorre el mundo con Blase
                    </p>
                </div>
                <div class="hidden sm:block relative ">
                    <img class="absolute bottom-0" style="width: 600px; height: 400px;" src="../../../assets/spaceLeft.svg">
                </div>
            </div>
            }

        </div>

        <div class="right-0 bg-[#382454] min-h-screen w-16 max-w-16 grid grid-rows-[max-content_1fr]">
            <div class="border-b-2 row-end-1 border-[#68cccc] ">
                <div class="flex justify-center items-center py-2 h-fit">
                    <img class=" w-10 h-10 hover:rotate-12 duration-200" (click)="onMenuClickSearch('search')"
                        style="cursor: pointer;" src="../../../assets/search.png" alt="">
                </div>
            </div>
            <div class="row-span-2">
                <div class="grid grid-rows-[max-content_1fr] p-2 gap-4 flex-grow-0 overflow-auto">
                    @if(friends){
                    @for (friend of friends; track $index) {
                    <div class="hover:border-r-2 " (click)="openChat(friend)">
                        @if (friend?.profilePic === "https://empty.com" || friend?.profilePic === "") {
                        <img class="rounded-full" style="cursor: pointer;" [title]="friend.displayName"
                            src="../../../assets/userS.png" alt="">
                        }@else{
                        @defer {
                        <img class="rounded-full" style="cursor: pointer;" [title]="friend?.displayName"
                            [src]="friend?.profilePic" alt="">

                        }
                        }

                    </div>
                    }
                    }
                </div>
            </div>

            <div class="border-t-2 border-[#68cccc] row-start-4 p-2">
                <div class="h-fit inline-block borderAnm" (click)="showMenu()">
                    <img style="cursor: pointer;" src="../../../assets/blaselogoClear.png" alt="">
                </div>
                @if (isShown) {
                <div class=" relative">
                    <ul
                        class="bottom-10   right-10 w-20 2xl:right-10 w-20 absolute font-text text-lg font-bold text-[#000]">
                        <div class="contextMenu p-4 rounded bg-[#fff]">
                            <li class="p-1 rounded hover:bg-[#ccc]" style="cursor: pointer;" (click)="profile()">
                                Perfil</li>
                            <li class="p-1 rounded hover:bg-[#ccc]" (click)="logout()" style="cursor: pointer;">Salir
                            </li>
                        </div>
                    </ul>
                </div>
                }
            </div>
        </div>
    </div>
</div>