<div class="min-h-screen 2xl:max-w-screen-xl bg-[#130821]">
    <div class="grid grid-cols-2 grid-flow-col w-full">
        <div class="col-span-2">
            <div class="absolute inset-x-0 inset-x-96 -z-50">
                <div class="absolute rounded-full bg-[#e6e6e6] p-28 -z-50"></div>
            </div>
            <div class="relative">
                <div class="flex justify-center items-center min-h-screen">
                    <p class="text-4xl uppercase font-bold text-[#fff] font-textShow">Recorre el mundo con Blase
                    </p>
                </div>
                <div class="absolute inset-y-96 -left-20">
                    <img style="width: 600px; height: 400px;" src="../../../assets/spaceLeft.svg">
                </div>
            </div>
        </div>

        <div class="fixed right-0 bg-[#382454] min-h-screen w-20 max-w-20 grid grid-rows-3">
            <div class="border-b-2 row-end-1 border-[#68cccc] ">
                <div class="flex justify-center items-center p-4 h-fit">
                    <img class=" w-10 h-10 hover:rotate-12 duration-200" style="cursor: pointer;"
                        src="../../../assets/search.png" alt="">
                </div>
            </div>
            <div class="row-span-2 ">
                <div class="grid grid-rows-2 p-2 gap-4">
                    <div class="hover:border-r-2 ">
                        <img style="cursor: pointer;" src="../../../assets/blaselogoClear.png" alt="">
                    </div>
                    <div class="hover:border-r-2 ">
                        <img style="cursor: pointer;" src="../../../assets/blaselogoClear.png" alt="">
                    </div>
                </div>
            </div>

            <div class="border-t-2 border-[#68cccc] row-start-4 p-2">
                <div class="h-fit inline-block borderAnm">
                    <img style="cursor: pointer;" src="../../../assets/blaselogoClear.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>