.mouse-cursor-gradient-tracking {
    position: relative;
    background: #68cccc;
    outline: none;
    overflow: hidden;
}

.mouse-cursor-gradient-tracking::before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #f2f2f2, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.1s ease, height 0.1s ease;
}

.mouse-cursor-gradient-tracking:hover::before {
    --size: 100px;
}