<style>
    input:focus {
        outline: none;
    }
</style>
<div class="w-full h-screen grid grid-cols-2 grid-flow-col">
    <div class="col-span-2 h-full p-10 flex justify-center">
        <div class="font-textShow w-full text-xl p-10 ">
            <form class="focus-within:border-b-[#68cccc] duration-200">
                <div class="flex flex-nowrap group items-stretch relative">
                    <span class="p-1 flex items-center rounded-l border-b group-hover:border-b-[#68cccc] duration-200">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </span>
                    <input (keyup)="Search()" name="friend" [(ngModel)]="body.friendName"
                        class="w-full p-2 border-b group-hover:border-b-[#68cccc] bg-inherit duration-200"
                        placeholder="Buscar amigo..." required type="text">
                </div>
            </form>
            <div class="flex justify-center w-full h-full">

                @if (notFound) {
                <div class="items-center flex uppercase">
                    <img class="sleep w-96 h-96" src="../../../assets/sleep.svg" alt="">
                    <div class="opacity-50">
                        <p>No amigos encontrados</p>
                    </div>
                </div>
                }@else {
                <div class="text-lg font-text w-40 font-normal w-full px-8">
                    @for (user of users; track $index) {
                    <div class="flex justify-center gap-x-10 h-44">
                        @if (user.profilePic !== "") {
                        <div class="flex items-center"><img class="rounded-full w-20 h-20" src="{{user.profilePic}}"
                                alt=""></div>
                        }@else{
                        <div class="flex items-center"><img class="rounded-full" src="../../../assets/userS.png" alt="">
                        </div>
                        }
                        <div class="flex items-center justify-center w-10"><span>{{user.displayName}}</span></div>
                        <div class="flex items-center justify-center w-40"><span
                                class="opacity-50 truncate">{{user.uid}}</span></div>
                        <div class="flex items-center justify-center w-40"><span class=""><button
                                    (click)="onClickSendRequest(user)"
                                    class="uppercase hover:drop-shadow-md bg-[#382454] duration-200 font-bold p-2 rounded-sm">Añadir
                                    amigo</button></span></div>
                    </div>
                    }
                </div>
                }
            </div>
        </div>
    </div>
    <div class="pt-20 h-full bg-[#301c3c]">
        <div class="p-4 ">
            <div class="font-textShow w-full flex justify-center uppercase text-xl p-10">Solicitudes</div>
            @if (requests) {
            @for (request of requests; track $index) {
            <div class="p-4 rounded bg-[#23132D] font-text w-full justify-items-center text-lg grid grid-rows-2">
                <div class="row-span-2  w-full flex justify-center gap-4">
                    @if (request.profilePic !== "") {
                    <img class="rounded-full w-12" src="{{request.profilePic}}" alt="">
                    }@else {
                    <img class="rounded-full w-12" src="../../../assets/userS.png" alt="">
                    }
                    <span class="flex items-center">
                        {{request.displayName}}
                    </span>
                </div>
                <div class="pt-2 w-full flex justify-center">
                    <button (click)="onClickAddFriend(request)"
                        class="uppercase hover:drop-shadow-md bg-[#382454] duration-200 font-bold p-2 px-6 rounded-sm">Aceptar
                    </button>
                </div>
            </div>
            }
            }
        </div>
    </div>
</div>