<style>
    input:focus {
        outline: none;
    }
</style>
<div class="w-full h-screen grid grid-cols-2 grid-flow-col">
    <div class="col-span-2 h-full p-10 flex justify-center">
        <div class="font-textShow w-full text-xl p-10 ">
            <form class="focus-within:border-b-[#68cccc] duration-200">
                <div class="flex flex-nowrap group items-stretch relative">
                    <span class="p-1 flex items-center rounded-l border-b group-hover:border-b-[#68cccc] duration-200">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </span>
                    <input name="friend" [(ngModel)]="body.friendName"
                        class="w-full p-2 border-b group-hover:border-b-[#68cccc] bg-inherit duration-200"
                        placeholder="Buscar amigo..." required type="text">
                    <span (click)="onClickSearch()"
                        class="flex items-center border-b group-hover:border-b-[#68cccc] duration-200"
                        style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                        </svg>
                    </span>
                </div>
            </form>
            <div class="flex justify-center w-full h-full">

                @if (notFound) {
                <div class="items-center flex uppercase">
                    <img class="sleep w-96 h-96" src="../../../assets/sleep.svg" alt="">
                    <div class="opacity-50">
                        <p>No amigos encontrados</p>
                    </div>
                </div>
                }@else {
                <div class="text-lg font-text w-40 font-normal w-full px-8">
                    @for (user of users; track $index) {
                    <div class="flex justify-center gap-x-10 h-44">
                        @if (user.profilePic !== "") {
                        <div class="flex items-center"><img class="rounded-full w-20 h-20" src="{{user.profilePic}}" alt=""></div>
                        }@else{
                        <div class="flex items-center"><img class="rounded-full" src="../../../assets/userS.png" alt="">
                        </div>
                        }
                        <div class="flex items-center justify-center w-10"><span>{{user.displayName}}</span></div>
                        <div class="flex items-center justify-center w-40"><span class="opacity-50 truncate">{{user.uid}}</span></div>
                        <div class="flex items-center justify-center w-40"><span class=""><button (click)="onClickAddFriend(user)"
                                    class="uppercase hover:drop-shadow-md bg-[#68cccc] duration-200 font-bold p-2 rounded-sm">Añadir
                                    amigo</button></span></div>
                    </div>
                    }
                </div>
                }
            </div>
        </div>
    </div>
    <div class="pt-20 h-full bg-[#301c3c]">
        <div class="font-textShow w-full uppercase text-xl p-10 ">
            <p>Mensajes recientes</p>
        </div>
    </div>
</div>