<style>
    input:focus {
        outline: none;
    }
</style>

<div class="w-full h-full contenedor font-textShow text-xl">
    <div class="p-20 text-4xl uppercase tracking-widest	">
        Perfil
    </div>
    <div class="w-full justify-items-center grid grid-cols-2 p-10">
        <div class="h-full flex items-center">
            @if (userImg === "empty" || userImg === "") {
            <div class="">
                <img class="rounded-full w-96" style="cursor: pointer;" src="../../../assets/user.png" alt="">
            </div>
            }@else {
            <img class="rounded-full" style="cursor: pointer;" [attr.src]="userImg" alt="">
            }
        </div>
        <div class="flex h-full justify-center items-center">
            <div class="w-full">
                <div class="w-full pb-10">
                    <p class="opacity-50">{{userUid}}</p>
                </div>
                <div class="w-full pb-10">
                    <input name="friend" [(ngModel)]="body.displayName"
                        class="w-full truncate p-2 border-b hover:border-b-[#68cccc] bg-inherit duration-200"
                        placeholder="{{userName}}" required type="text">
                </div>
                <div class="w-full">
                    <button
                        class="w-full uppercase hover:opacity-80 bg-[#382454] duration-200 font-bold p-2 px-6 rounded-sm">Actualizar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>