<div class="pageBody h-full bg-[#FAF4F5]">
    <nav class="flex p-10 justify-end md:justify-between sm:px-10 w-full">
        <div class="hidden md:block">
            <img class="hover:-translate-y-1 duration-200 w-16" style="cursor: pointer;" src="../../assets/blase.png"
                alt="">
        </div>
        <div class="flex items-center" style="cursor: pointer;">
            <button (mousemove)="onMouseMove($event)" (click)="onClick()"
                class="mouse-cursor-gradient-tracking hover:-translate-y-1 duration-200 rounded-full uppercase px-10 p-2 text-center text-sm font-bold text-[#fff] font-text">
                <span>Iniciar sesion</span>
            </button>
        </div>
    </nav>

    <section class="contenedor relative p-2 sm:p-4 lg:p-10 pt-36 min-h-screen  min-w-screen flex justify-center lg:block">
        <div class="hidden absolute md:block inset-y-0 inset-x-96 -z-50">
            <div class="absolute rounded-full bg-[#e6e6e6] p-28 -z-50"></div>
        </div>
        <div class="hidden absolute md:block top-96 right-28 -z-50">
            <div class="absolute rounded-full bg-[#e6e6e6] p-40 -z-50"></div>
        </div>
        <div class="hidden absolute md:block inset-y-52 -left-72 -z-50">
            <div class="absolute rounded-full bg-[#e6e6e6] p-40 -z-50"></div>
        </div>
        <div class="showCase lg:items-center grid grid-cols-none lg:grid-cols-2 z-10 w-full">
            <div class="hidden lg:flex women flex justify-start">
                <object data="../../assets/womenSay.svg"></object>
            </div>
            <div class="">
                <div class="font-textShow flex justify-center text-8xl text-[#636aff] font-bold">Blase</div>
                <div class="text-lg font-bold flex justify-center text-[#606062] font-text">Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Sequi ea nam perspiciatis odio saepe, incidunt unde nemo, ullam ipsa laborum
                    dolor! Fugiat quia quod fuga, reiciendis in nisi doloremque exercitationem.</div>
                <div>

                </div>
            </div>
        </div>
    </section>
</div>