<style>
    input:focus {
        outline: none;
    }
</style>

<div class="contenedor w-full h-screen">

    <!--1-->
    <div class="w-full flex text-xl font-textShow p-1 bg-[#382454] h-[8%]">
        <div class="flex items-center">
            @if (friend.profilePic === "https://empty.com" || friend.profilePic === "") {
            <img class="rounded-full w-14" src="../../../assets/userS.png" alt="">
            }@else {
            <img class="rounded-full w-14" [src]="friend.profilePic" alt="">
            }
            <span class="pl-4">{{friend.displayName}}</span>
            <span class="p-4">
                @if (visto === true) {
                <img class="w-10" src="../../../assets/seen.png" alt="">
                }@else {
                <img class="w-10" src="../../../assets/unseen.png" alt="">
                }
            </span>
        </div>
    </div>

    <!--2-->
    <div class="p-10 overflow-y-auto w-full h-[83%]" #contenedorMensajes [scrollTop]="scrollUltimo">
        @for (msg of message; track $index) {
        <div (dblclick)="replayMsg(msg)" class="w-full grid grid-rows-[max-content_1fr] pb-4">
            <div [ngClass]="{'justify-end' : msg.emisor === userInfo?.uid, 'justify-start' : msg.emisor !== userInfo?.uid}"
                class="flex max-w-20 ">
                <div [ngClass]="{'rounded-l-lg' : msg.emisor === userInfo?.uid, 'rounded-r-lg' : msg.emisor !== userInfo?.uid}"
                    class="bg-[#23132d] max-w-20 text-l font-text mensaje p-2" style="cursor: pointer;">
                    @if (msg.mensajeResp) {
                    <div class="bg-[#382454] rounded-sm p-2">
                        <p class="truncate opacity-50">{{msg.mensajeResp}}</p>
                    </div>
                    }
                    @if (msg.url) {
                    <div class="">
                        @defer{
                        @if (msg.fileName.includes(".jpg") || msg.fileName.includes(".png")
                        || msg.fileName.includes(".jpeg") || msg.fileName.includes(".gif")) {
                        <img (click)="redireccionar(msg.url)" class="rounded w-96" [src]="msg.url"
                            onerror="this. style. display='none'" alt="">
                        }@else if(msg.fileName.includes(".mp4") || msg.fileName.includes(".webm")){
                        <div class="w-96">
                            <video controls #videoPlayer>
                                <source src="{{msg.url}}" type="video/mp4" />
                            </video>
                        </div>
                        }@else {
                        <div class="grid grid-cols-3 justify-items-center grid-flow-col">
                            <div class="text-xl font-textShow col-span-2">
                                <p class="truncate" [title]="msg.fileName">{{msg.fileName}}</p>
                            </div>
                            <div class="">
                                <span class="" (click)="redireccionar(msg.url)">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                        class="bi bi-save2-fill w-8 hover:fill-[#68cccc] duration-200" title="Descargar"
                                        style="cursor: pointer;" viewBox="0 0 16 16">
                                        <path
                                            d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v6h-2a.5.5 0 0 0-.354.854l2.5 2.5a.5.5 0 0 0 .708 0l2.5-2.5A.5.5 0 0 0 10.5 7.5h-2z" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                        }
                        }
                    </div>
                    }
                    @if (msg.mensaje) {
                    <p class="p-2 max-w-sm">{{msg?.mensaje}}</p>
                    }
                </div>
            </div>
            <div class="text-sm pt-2 italic opacity-50">
                <p [ngClass]="{'justify-end' : msg.emisor === userInfo?.uid, 'justify-start' : msg.emisor !== userInfo?.uid}"
                    class="flex">{{msg.fecha}}</p>
            </div>
        </div>
        }

    </div>

    <!--3-->
    @if (showReplay && newMessage.mensajeResp !== '') {
    <div class="relative w-full">
        <div (click)="cancelReplay()" [ngClass]="{'animate-slideIn':!slideDown, 'animate-slideOut':slideDown}"
            class="bottom-0 absolute w-full p-2 bg-[#23132d]" style="cursor: pointer;">
            <p class="truncate text-m font-text opacity-50">{{newMessage.mensajeResp}}</p>
        </div>
    </div>
    }

    <div class="flex w-full bg-[#301c3c] h-[9%] p-4">
        <form class="w-full font-text text-lg ">
            <div class="flex flex-nowrap items-stretch relative">
                <input name="mensaje" [(ngModel)]="newMessage.mensaje"
                    class="w-full p-2 border-b rounded-l bg-inherit duration-200" placeholder="Enviar mensaje" required
                    type="text">

                <span (click)="sendMessage()" class="p-1 flex items-center border-b duration-200">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-send hover:fill-[#68cccc] duration-200" viewBox="0 0 16 16"
                        style="cursor: pointer;">
                        <path
                            d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
                    </svg>
                </span>

                <input #inputFile id="multimedia" (change)="selectImg($event)" style="display: none;" type="file">
                <label class="p-1 flex items-center duration-200" for="multimedia" type="button">
                    <span class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                            [ngClass]="{'fill-[#68cccc] hover:fill-[#fff]':selectedFile, 'fill-[#fff] hover:fill-[#68cccc]':!selectedFile}"
                            class="bi bi-patch-plus-fill hover:fill-[#68cccc] duration-200" viewBox="0 0 16 16"
                            style="cursor: pointer;">
                            <path
                                d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0" />
                        </svg>
                    </span>
                </label>
            </div>
        </form>
    </div>
</div>